
<div>
<p>书山有路勤为径，“股“海无涯苦作舟。</p>
<p>技术宅日用炒股自动化武器，不断完善中. 程序自动化交易热情交流QQ群：<a href="#">279929931</a></p>
<p>实时追踪股市中大资金的动向，大资金流入流出的明细，可以从中挖掘今日股市热点.</p>
<p><i>每个交易日每隔10秒更新一次！买卖动向如下:</i></p>	
</div>

<p id = "stockLineSH"></p>
<p id = "stockLineSZ"></p>
<div class="row">

	<div class="span6"> 
		<table id = "stockTB" class="table table-striped table-bordered table-condensed">
		</table>
	</div> 
</div>	
