<div class="page-header"><h1>Edit post</h1></div>

<% form_for(post, {action: path_to.post(post), method: 'PUT', id: "post_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('posts/form.ejs', {locals: {form: form, post: post}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Update post', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.post(post), {class: 'btn'}) %>
    </div>
<% });%>